@import url('https://fonts.googleapis.com/css2?family=Amiri&display=swap');

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Amiri', serif;
  height: 100%;
  overflow: hidden;
  background-color: black;
}

.screen {
  display: none;
  position: relative;
  width: 100%;
  height: 100vh;
  background: black;
}

.screen.active {
  display: block;
}

.bg-video {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  top: 0;
  left: 0;
}

.fade {
  opacity: 0;
  transform: translateY(15px);
  animation: softFade 2.5s ease forwards;
}

@keyframes softFade {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.main-text {
  position: absolute;
  top: 6%;
  right: 2%;
  color: white;
  max-width: 300px;
  font-size: 16px;
  line-height:1.4;
  animation: softFade 10.5s ease forwards;
  z-index: 2;
}

.buttons {
  position: absolute;
  bottom: 10%;
  right: 5%;
  display: flex;
  flex-direction: column;
  gap: 13px;
  z-index: 2;
}

.buttons .ghost-btn {
  padding: 10px 22px;
  border: 1.5px solid rgba(120, 80, 40, 0.7);
  color: white;
  cursor: pointer;
  border-radius: 30px;
  opacity: 0;
  transform: translateY(10px);
  animation: btnFade 1.5s ease forwards;
  text-align: center;
}

.buttons .ghost-btn:nth-child(1) { animation-delay: 1.2s; }
.buttons .ghost-btn:nth-child(2) { animation-delay: 1.8s; }

@keyframes btnFade {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.ghost-btn:hover {
  background: rgba(120, 80, 40, 0.15);
  transform: translateY(-2px);
  transition: 0.3s;
}

.page-text {
  position: absolute;
  top: 15%;
  right: 6%;
  color: white;
  max-width: 390px;
  font-size: 14px;
  line-height: 2;
  animation: softFade 2.8s ease forwards;
  z-index: 2;
}

.top-bar {
  position: absolute;
  top: 20px;
  right: 20px;
  color: white;
  cursor: pointer;
  z-index: 3;
}

.password-box {
  position: absolute;
  bottom: 15%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  z-index: 2;
}

.password-box input {
  background: transparent;
  border: 1.5px solid rgba(120, 80, 40, 0.7);
  padding: 12px 20px;
  color: white;
  font-size: 17px;
  width: 260px;
  outline: none;
  border-radius: 30px;
}

.password-box input::placeholder {
  color: rgba(255,255,255,0.7);
}

.password-box .ghost-btn {
  margin-top: 15px;
  padding: 10px 22px;
  border: 1.5px solid rgba(120, 80, 40, 0.7);
  color: white;
  cursor: pointer;
  transition: 0.3s;
  display: inline-block;
  border-radius: 30px;
}

@media screen and (max-width: 600px) {
  .main-text {
    max-width: 90%;
    font-size: 14px;
    top: 5%;
    right: 5%;
  }
  .buttons {
    bottom: 8%;
    right: 5%;
    gap: 10px;
  }
  .page-text {
    top: 12%;
    right: 4%;
    max-width: 90%;
    font-size: 13px;
    line-height: 1.6;
  }
}